.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.form{
  display: flex;
  gap: 2rem;
}
form{
  display: flex;
  flex-direction: column;
}
label {
  align-self: flex-start;
  justify-self: flex-start;

}
input {
  align-self: flex-end;
  justify-self: flex-end;
}